<div class="container">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/invent.JPG" alt="trip-image" />
      </div>
      <div class="flip-card-back">
        <h3>Automatización de envíos para logística</h3>
        <p>
          Creación de envíos que se asignan automáticamente al introducir el
          código postal a la empresa de transporte correspondiente
        </p>
        <p>
          Informa del precio del envío al introducir el peso del paquete en la
          creación del mismo.
        </p>
        <div class="tecnologias">
          <span><i class="bx bxl-typescript"></i>TypeScript</span>
          <span><i class="bx bxl-angular"></i>Angular</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/kanban.jpg" alt="" />
      </div>
      <div class="flip-card-back">
        <h3>Gestor de Tareas</h3>
        <p>
          Tablero estilo Trello/Kanban para crear tareas y subtareas dentro de
          las mismas.
        </p>
        <p>
          Puedes modificar el estado de la tarea arrastrándola y cambiándola de
          columna. También puedes modificar y borrar las mismas según tus
          necesidades.
        </p>
        <div class="tecnologias">
          <span><i class="bx bxl-javascript"></i>JavaScript</span>
          <span><i class="bx bxl-react"></i>React</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/hero.jpg" alt="" />
      </div>
      <div class="flip-card-back">
        <h3>Album cromos digital</h3>
        <p>Puedes crear y guardar tus propios cromos de superheroes</p>
        <p>
          También puedes editarlos e incluso borrarlos si te has cansado de
          alguno. Está conectado a una BBDD json a través de JSON SERVER.
        </p>
        <div class="tecnologias">
          <span><i class="bx bxl-typescript"></i>TypeScript</span>
          <span><i class="bx bxl-angular"></i>Angular</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/scoobike.jpg" alt="" />
      </div>
      <div class="flip-card-back">
        <h3>Taller de reparación</h3>
        <p>
          En este taller puedes solicitar cita para revisión o reparación de tu
          bici o patinete.
        </p>
        <p>
          Puedes crear tu usuario para poder solicitar citas, por otro lado,
          como admin puedes modificar, crear, editar o borrar tanto citas como
          usuarios
        </p>
        <div class="tecnologias">
          <span><i class="bx bxl-javascript"></i>JavaScript</span>
          <span><i class="bx bxl-react"></i>React</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/bbdd.jpg" alt="" />
      </div>
      <div class="flip-card-back">
        <h3>BBDD Clínica Dental</h3>
        <p>
          Está conectada a un Front básico para poder gestionar los mínimos de
          una clínica dental gracias a esta base de datos relacional
        </p>
        <p>
          Es fácilmente modificable y escalable para poder adaptarla a cualquier
          tipo de actividad comercial
        </p>
        <div class="tecnologias">
          <span><i class="bx bxl-javascript"></i>JavaScript</span>
          <span><i class="bx bxl-postgresql"></i>PostgreSQL</span>
          <span><i class="bx bxl-nodejs"></i>Node</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/ttt.jpg" alt="" />
      </div>
      <div class="flip-card-back">
        <h3>3 en Raya</h3>
        <p>
          Se trata del juego 3 en raya de toda la vida. Sólo has de introducir
          el nombre de los 2 jugadores y comenzar la partida.
        </p>
        <p>Tiene un estilo retro-arcade que imita a las máquinas de los 80</p>
        <div class="tecnologias">
          <span><i class="bx bxl-javascript"></i>JavaScript</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/rest.jpg" alt="" />
      </div>
      <div class="flip-card-back">
        <h3>Carta de Restaurante</h3>
        <p>
          Recreación hipotética de la carta/web de un restaurante. Se ha
          utilizado la imagen y logo de un local real ubicado en Madrid
        </p>
        <div class="tecnologias">
          <span><i class="bx bxl-html5"></i>HTML</span>
          <span><i class="bx bxl-bootstrap"></i>Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/switch.jpg" alt="" />
      </div>
      <div class="flip-card-back">
        <h3>Diseño de consola portátil</h3>
        <p>Mi primer proyecto, al que le guardo un cariño especial. Echando un vistazo a este proyecto se puede ver la evolución desde que comencé</p>
        <div class="tecnologias">
            <span><i class="bx bxl-html5"></i>HTML</span>
            <span><i class="bx bxl-css3"></i>CSS</span>
          </div>
      </div>
    </div>
  </div>
</div>
