<div class="container">
  <div class="header">
    <h1>Sitúate sobre el proyecto que quieras ver y pincha en su parte trasera para acceder a su repositorio.</h1>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/invent.JPG" alt="trip-image" />
      </div>
      <div class="flip-card-back">
        <a href="https://github.com/Alexm0u/invent" target="_blank" class="repo-link">
          <div class="tooltip-container">
            <h5>Automatización de envíos para logística</h5>
            <span class="tooltip-text">Pincha para acceder al repositorio</span>
          </div>
          <p>Creación de envíos donde al introducir el código postal y el peso se asigna automáticamente la empresa de transporte y da el precio del mismo</p>
          <div class="tecnologias">
            <span><i class="bx bxl-typescript"></i>TypeScript</span>
            <span><i class="bx bxl-angular"></i>Angular</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/kanban.jpg" alt="" />
      </div>
      <div class="flip-card-back">
        <a href="https://github.com/Alexm0u/pt-kanban" target="_blank" class="repo-link">
          <div class="tooltip-container">
            <h5>Gestor de Tareas</h5>
            <span class="tooltip-text">Pincha para acceder al repositorio</span>
          </div>
          <p>Tablero estilo Trello/Kanban para crear tareas y subtareas dentro de las mismas.</p>
          <p>Puedes modificar el estado de la tarea mediante drag and drop y modificar/borrar las mismas.</p>
          <div class="tecnologias">
            <span><i class="bx bxl-javascript"></i>JavaScript</span>
            <span><i class="bx bxl-react"></i>React</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/hero.jpg" alt="" />
      </div>
      <div class="flip-card-back">
        <a href="https://github.com/Alexm0u/heroesApp" target="_blank" class="repo-link">
          <div class="tooltip-container">
            <h5>Album cromos digital</h5>
            <span class="tooltip-text">Pincha para acceder al repositorio</span>
          </div>
          <p>Puedes crear, guardar, editar y borrar tus propios cromos de superhéroes.</p>
          <p>Está conectado a una BBDD json a través de JSON SERVER.</p>
          <div class="tecnologias">
            <span><i class="bx bxl-typescript"></i>TypeScript</span>
            <span><i class="bx bxl-angular"></i>Angular</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/scoobike.jpg" alt="" />
      </div>
      <div class="flip-card-back">
        <a href="https://github.com/Alexm0u/Proyecto-Final-FSD-Front" target="_blank" class="repo-link">
          <div class="tooltip-container">
            <h5>Taller de reparación</h5>
            <span class="tooltip-text">Pincha para acceder al repositorio</span>
          </div>
          <p>En este taller puedes solicitar cita para revisión o reparación de tu bici o patinete.</p>
          <p>Puedes crear tu usuario para poder solicitar citas. Como admin, puedes modificar, crear, editar o borrar tanto citas como usuarios.</p>
          <div class="tecnologias">
            <span><i class="bx bxl-javascript"></i>JavaScript</span>
            <span><i class="bx bxl-react"></i>React</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/bbdd.jpg" alt="" />
      </div>
      <div class="flip-card-back">
        <a href="https://github.com/Alexm0u/Project04-DentalClinic" target="_blank" class="repo-link">
          <div class="tooltip-container">
            <h5>BBDD Clínica Dental</h5>
            <span class="tooltip-text">Pincha para acceder al repositorio</span>
          </div>
          <p>Base de datos relacional para gestionar los mínimos de una clínica dental.</p>
          <p>Se puede adaptar fácilmente para cualquier tipo de actividad comercial.</p>
          <div class="tecnologias">
            <span><i class="bx bxl-javascript"></i>JavaScript</span>
            <span><i class="bx bxl-postgresql"></i>PostgreSQL</span>
            
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/ttt.jpg" alt="" />
      </div>
      <div class="flip-card-back">
        <a href="https://github.com/Alexm0u/tic_tac_toe" target="_blank" class="repo-link">
          <div class="tooltip-container">
            <h5>3 en Raya</h5>
            <span class="tooltip-text">Pincha para acceder al repositorio</span>
          </div>
          <p>Se trata del juego 3 en raya de toda la vida. Sólo has de introducir el nombre de los 2 jugadores y comenzar la partida.</p>
          <p>Tiene un estilo retro-arcade que imita a las máquinas de los 80</p>
          <div class="tecnologias">
            <span><i class="bx bxl-javascript"></i>JavaScript</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/rest.jpg" alt="" />
      </div>
      <div class="flip-card-back">
        <a href="https://github.com/Alexm0u/RestaurantWeb" target="_blank" class="repo-link">
          <div class="tooltip-container">
            <h5>Carta de Restaurante</h5>
            <span class="tooltip-text">Pincha para acceder al repositorio</span>
          </div>
          <p>Recreación hipotética de la carta/web de un restaurante. Se ha utilizado la imagen y logo de un local real ubicado en Madrid</p>
          <div class="tecnologias">
            <span><i class="bx bxl-html5"></i>HTML</span>
            <span><i class="bx bxl-bootstrap"></i>Bootstrap</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/img/switch.jpg" alt="" />
      </div>
      <div class="flip-card-back">
        <a
          href="https://github.com/Alexm0u/amc-geekshub-fsd-project1"
          target="_blank"
          class="repo-link"
        >
          <div class="tooltip-container">
            <h5>Diseño de consola portátil</h5>
            <span class="tooltip-text">Pincha para acceder al repositorio</span>
          </div>
          <p>
            Mi primer proyecto, al que le guardo un cariño especial. Echando un
            vistazo a este proyecto se puede ver la evolución desde que comencé
          </p>
          <div class="tecnologias">
            <span><i class="bx bxl-html5"></i>HTML</span>
            <span><i class="bx bxl-css3"></i>CSS</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
