<div class="container">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/invent.JPG" alt="">
          </div>
          <div class="flip-card-back">
            <h3>Back Content</h3>
            <p>This is the back of the card.</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/kanban.jpg" alt="">
          </div>
          <div class="flip-card-back">
            <h3>Back Content</h3>
            <p>This is the back of the card.</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/hero.jpg" alt="">
          </div>
          <div class="flip-card-back">
            <h3>Back Content</h3>
            <p>This is the back of the card.</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/scoobike.jpg" alt="">
          </div>
          <div class="flip-card-back">
            <h3>Back Content</h3>
            <p>This is the back of the card.</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/bbdd.jpg" alt="">
          </div>
          <div class="flip-card-back">
            <h3>Back Content</h3>
            <p>This is the back of the card.</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/ttt.jpg" alt="">
          </div>
          <div class="flip-card-back">
            <h3>Back Content</h3>
            <p>This is the back of the card.</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/rest.jpg" alt="">
          </div>
          <div class="flip-card-back">
            <h3>Back Content</h3>
            <p>This is the back of the card.</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/switch.jpg" alt="">
          </div>
          <div class="flip-card-back">
            <h3>Back Content</h3>
            <p>This is the back of the card.</p>
          </div>
        </div>
      </div>
</div>