<div class="wrapper">
  <div class="cols cols0">
      <h1 class="topline">Hola</h1>
      <h2>Soy Àlex, Frontend Developer</h2>
      <br>
      <p>Bienvenido a mi portfolio, para saber más <a [routerLink]="['/sobre-mi']">sobre mí:</a></p>
      <a href="../../../assets/cv/CV Àlex Moya Camps.pdf" download="CV Àlex Moya.pdf">
        <button>Descargar CV</button>
      </a>
  </div>
  <div class="cols cols1">
      <div class="imgbox">
          <img src="../../../assets/img/alex-bolas.JPG" >
      </div>
  </div>
</div>