<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Àlex M<b>.</b></a>
    <div class="d-flex flex-row-reverse">
      <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/proyectos']">Proyectos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/sobre-mi']">Sobre mi</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
        </li>
      </ul>
      
      <div class="links">
        <a href="https://github.com/Alexm0u"><i class='bx bxl-github'></i></a>
        <a href="https://www.linkedin.com/in/%C3%A1lex-moya-camps-fsd/"><i class='bx bxl-linkedin'></i></a>
        <a href="mailto:alex.moyacamps@gmail.com?subject=Hola!%20Quiero%20contactar%20contigo&body=Hola%20Alex,%0D%0A%0D%0AEstoy%20interesado%20en%20contactar%20contigo.%20%0D%0A%0D%0AUn%20saludo,%20[Nombre]"><i class='bx bxs-envelope'></i></a>

      </div>
    </div>
  </div>
</nav>
