.navbar {
  font-family: "Poppins", sans-serif;
  display: flex;
  background: none;
}

.navbar-btn-custom {
  display: flex;
  margin-left: auto;
}
.nav-item{
    margin: 0 10px;
}
.nav-item.active .nav-link {
  color: rgb(196, 119, 235);
}
.nav-link{
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: capitalize;
    transition: 1s ease;
    color:#FFF;
    margin-right: 25px;
}
.nav-link:hover, .links a:hover{
    color:rgb(196, 119, 235);
}

.links {
  display: flex;
  align-items: center;
  
}

.links a {
  margin: 25px 10px;
  font-size: 30px;
  color:#FFF;
  transition: 1s ease;
}

.container-fluid {
  margin-right: 5%;
}
.navbar-brand{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color:#fff;
    letter-spacing: 3px;
    cursor: pointer;
    margin-left: 10%;
}
b{
    font-size: 45px;
    color:rgb(196, 119, 235);
}
.navbar-toggler-icon {
  filter: invert(1);
}


