.container-fluid{
    background-color: black;
    width: 100%;
    padding: 20px 10%;
}
#navbarNav{
    justify-content: right;
}
.nav-item{
    justify-content: space-between;
}
.nav-link{
    color: pink;
}
/* LOGO DEL NAVBAR */
img{
    width: 15%;
}