

.container {
  max-width: 99%;
  margin: 0 auto;
  padding: 20px;
  color: white;
  font-size: 25px;
  overflow-x: hidden;
  text-align: center; /* Agregado para centrar el contenido */
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-sm-8,
.col-sm-4,
.col-sm {
  padding: 0 15px;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: left;
  margin-left: 8.5%;
}
p {
  font-size: 1.1em;
  line-height: 1.6em;
  margin-bottom: 15px;
  text-align: left;
  margin-left: 7.5%;
  margin-right: 10%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 7.5%;
}

li {
  margin-bottom: 10px;
}

button {
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px; 
  font-weight: 400;
  color: #fff;
  background-color:  rgb(108, 150, 240);
  border-radius: 20px;
  padding: 8px 14px;
  margin: 20px 5px; 
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  transition: 0.9s ease;
  justify-content: end;
  margin-left: 28%;
}
button:hover {
  background-color: darkmagenta;
}

i {
  font-size: 1.6em;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-primary {
  margin-top: 20px;
}

.two-column-list {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide en dos columnas de igual ancho */
  grid-gap: 20px; /* Espacio entre los elementos de la lista */
  list-style: none;
  transition: 0.3s ease;
  
}

.two-column-list li {
  width: 45%;
  margin-bottom: 10px;
  margin-left: 14%;
  
  
}
.bx.bx-chevrons-down, .bx.bx-chevrons-up {
  vertical-align: middle;
  margin-inline-start: 20px;
  float: right;
  margin-right: 10%;
}



.contingut {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 1s, opacity 1s;
  width: 100%;
  text-align: left;
  margin: 20px;
}

.contingut.show {
  max-height: 100%;
  opacity: 1;
}
a {
  color: #fff;
  text-decoration: none;
  color:  rgb(108, 150, 240);
  transition: color 0.5s ease;
}

a:hover {
  color: darkmagenta;
}


@media (max-width: 768px) {
  .image-container {
    height: 150px;
    margin-bottom: 30px;
    margin-left: -5px;
  }
  h1 {
    text-align: left;
    margin-left: 0; 
    font-size: 30px;
  }
  .bx.bx-chevrons-down {
    vertical-align: middle;
    float: right;
  }
  
  .bx.bx-chevrons-up {
    vertical-align: middle;
    margin-inline-start: 20px;
    float: right;
  }
}



