.wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    font-family: "poppins", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 88vh; 
    position: relative;
  }
  h1 {
    font-weight: 900;
    display: block;
    font-size: 5em;
    color: #3d535f;
  }
  .cols {
    width: 50%;
    margin-top: 5%;
    margin-left: -1%;
  }

  .nombre {
    color:darkmagenta;
    text-transform: capitalize;
  }
  p {
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
  }
  button {
    position: relative;
    left: 20%;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    border-radius: 20px;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    transition: 0.9s ease;
  }
  button:hover {
    background-color: darkmagenta;
  }
  .imgbox {
      position: relative;
      border-radius: 50%;
      overflow: hidden; 
      width: fit-content; 
    }
    .imgbox img {
      display: block;
      height: auto; 
      width: 100%; 
    }
  @keyframes animate {
    50% {
      top: 49%;
      left: 51%;
      width: 125%;
    }
  }
  .imgbox #splash{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-35 deg);
      width: 130%;
      filter: saturate(200%);
      animation: animate 4s linear infinite;
  }
  .cols1{
      width: 40%;
      margin-bottom: 20px;
  }