<div class="container">
  <div>
    <h1 (click)="toggleList('sobreMi')">
      Sobre mi<i
        class="bx"
        [ngClass]="sobreMiListState ? 'bx-chevrons-up' : 'bx-chevrons-down'"
      ></i>
    </h1>
    <div
      class="contingut"
      [ngClass]="{ show: sobreMiListState }"
      [ngStyle]="{
        'max-height': sobreMiListState ? '1000px' : '0px',
        opacity: sobreMiListState ? 1 : 0
      }"
    >
      <p>
        <strong>¡Hola!</strong> Soy Àlex, desarollador FrontEnd afincado en
        Valencia, España. A pesar de mi formación en Administración y Finanzas
        me dediqué profesionalmente a la logística. Finalmente, decidí apostar
        por lo que siempre me ha gustado: la tecnología y, concretamente, la
        <strong>programación.</strong>
      </p>

      <p>
        Mi vida se sustenta en tres pilares: Mi <strong>familia</strong> para
        apoyarme, el <strong>Crossfit</strong> para desestresarme y los
        <strong>videojuegos</strong> para desconectar. También soy el Alfa de
        una pequeña manada formada por dos <strong>perros</strong> y yo mismo,
        lo que me llena de una manera indescriptible.
      </p>

      <p>
        Cuando no estoy programando, me gusta tumbarme en pleno silencio a leer,
        en especial, libros de literatura fantástica y filosofía. También me
        encantan las <strong>plantas</strong> (sobretodo las de hojas grandes) y
        por ello mi casa está llena de ellas, o al menos las que puedo tener sin
        que mis gatos se las coman y se pongan enfermos...
      </p>

      <p>
        Creo firmemente que el
        <strong
          ><a
            href="https://www.youtube.com/watch?v=QkF3oxziUI4&ab_channel=LedZeppelin"
            >Rock</a
          ></strong
        >
        transforma los problemas en simples contratiempos.
      </p>
    </div>
  </div>
  <div>
    <h1 (click)="toggleList('soft')">
      Soft Skills<i
        class="bx"
        [ngClass]="softListState ? 'bx-chevrons-up' : 'bx-chevrons-down'"
      ></i>
    </h1>
    <div
      class="contingut skills"
      [ngClass]="{ show: softListState }"
      [ngStyle]="{
        'max-height': softListState ? '1000px' : '0px',
        opacity: softListState ? 1 : 0
      }"
    >
      <ul>
        <li>Pair programming</li>
        <li>Kanban</li>
        <li>Metodología Agile</li>
        <li>Inteligencia emocional</li>
        <li>Colaboración</li>
        <li>Pensamiento crítico</li>
        <li>Escucha activa</li>
        <li>Resiliencia</li>
        <li>Comunicación eficaz</li>
      </ul>
    </div>
  </div>
  <div>
    <h1 (click)="toggleList('tec')">
      Tecnologías<i
        class="bx"
        [ngClass]="tecListState ? 'bx-chevrons-up' : 'bx-chevrons-down'"
      ></i>
    </h1>
    <ul
      class="contingut two-column-list"
      [ngClass]="{ show: tecListState }"
      [ngStyle]="{
        'max-height': tecListState ? '1000px' : '0px',
        opacity: tecListState ? 1 : 0
      }"
    >
      <li><i class="bx bxl-html5"></i>HTML</li>
      <li><i class="bx bxl-css3"></i>CSS</li>
      <li><i class="bx bxl-javascript"></i>JavaScript</li>
      <li><i class="bx bxl-typescript"></i>TypeScript</li>
      <li><i class="bx bxl-angular"></i>Angular</li>
      <li><i class="bx bxl-react"></i>React</li>
      <li><i class="bx bxl-redux"></i>Redux</li>
      <li><i class="bx bxl-nodejs"></i>Node</li>
      <li><i class="bx bxl-php"></i>php</li>
      <li><i class="bx bxl-github"></i>GitHub</li>
      <li><i class="bx bxl-bootstrap"></i>Bootstrap</li>
      <li><i class="bx bxl-postgresql"></i>PostgreSQL</li>
    </ul>
  </div>
</div>
