<div class="container text-center">
    <div class="row">
      <div class="col-sm-8">
        <h2>Sobre mí</h2>
        <p>Hola, soy [Tu Nombre]. Soy un desarrollador de software apasionado y entusiasta de la tecnología. Mi viaje en el mundo de la programación comenzó hace años y desde entonces he estado trabajando en una amplia gama de proyectos emocionantes que me han permitido desarrollar mis habilidades y conocimientos en diversas áreas de desarrollo de software.</p>
        <p>Me encanta enfrentar desafíos técnicos y buscar soluciones innovadoras para problemas complejos. Siempre estoy buscando aprender nuevas tecnologías y herramientas para mejorar mis habilidades y mantenerme al día con las últimas tendencias en desarrollo de software.</p>
        <p>En mi tiempo libre, disfruto de la lectura, el ciclismo y explorar nuevas tecnologías. También me apasiona compartir mis conocimientos con otros y ayudar a la comunidad de desarrolladores a crecer y prosperar.</p>
      </div>
      <div class="col-sm-4">
        <h3>Contacto</h3>
        <p>No dudes en ponerte en contacto conmigo si estás interesado en colaborar en proyectos emocionantes o si tienes alguna pregunta. Estoy siempre abierto a nuevas oportunidades y dispuesto a discutir cualquier proyecto interesante que puedas tener en mente. ¡Espero poder trabajar juntos!</p>
        <button class="btn btn-primary">Contactarme</button>
      </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h3>Experiencia Profesional</h3>
            <p>Tengo experiencia trabajando en una variedad de proyectos de desarrollo de software, que incluyen aplicaciones web, aplicaciones móviles y sistemas de gestión empresarial. He trabajado con equipos multidisciplinarios y he tenido la oportunidad de liderar proyectos desafiantes desde su concepción hasta su implementación exitosa.</p>
          </div>
          <div class="col-sm">
            <h3>Educación</h3>
            <p>Me gradué en Informática de la Universidad XYZ, donde adquirí una sólida comprensión de los fundamentos de la programación y las mejores prácticas de desarrollo de software. Además, he participado en cursos y talleres especializados para mantenerme actualizado con las últimas tecnologías y tendencias en la industria.</p>
          </div>
          <div class="col-sm">
            <h3>Habilidades Técnicas</h3>
            <ul>
              <li>Desarrollo de aplicaciones web con HTML, CSS y JavaScript</li>
              <li>Frameworks de JavaScript como Angular y React</li>
              <li>Desarrollo de backend con Node.js y bases de datos como MongoDB y MySQL</li>
              <li>Experiencia en desarrollo móvil con React Native y Flutter</li>
              <li>Conocimientos sólidos en control de versiones con Git</li>
              <li>Resolución de problemas y capacidad para trabajar en entornos ágiles</li>
            </ul>
          </div>
    </div>
  </div>
