@font-face {
  font-family: 'Bankai';
  src: url('assets/fonts/Bankai.ttf') format('truetype');
}
body{
  background-image: url(assets/img/bk-home-4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

